*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333238;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:not(:disabled),
a:not(:disabled) {
  cursor: pointer;
}

button:disabled,
a:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.8;
}

.back-link {
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 50%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

nav {
  width: 100%;
  height: 48px;
  display: flex;
  padding: 0 20px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  align-items: center;
  background-color: #292961;
}

.br {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}

.container {
  flex: 1;
  width: min(100%, 1280px);
  padding: 0 14px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

.controlls {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}

.tooltip-link {
  position: relative;
}

.tooltip-link:hover > .tooltip {
  opacity: 1;
  transition-delay: 1s;
  pointer-events: unset;
}

.btn {
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 14px;
  background-color: #1f75cb;
  box-shadow: inset 0 0 0 1px #1068bf;
  transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;
  user-select: none;
  text-decoration: none;
}

.btn:not(:disabled):hover {
  background: #1068bf;
  box-shadow: inset 0 0 0 2px #064787, 0 2px 2px 0 rgb(0 0 0 / 8%);
}

.btn:not(:disabled):focus {
  box-shadow: inset 0 0 0 1px #064787, 0 0 0 1px #fff, 0 0 0 3px #428fdc;
  outline: none;
  background-color: #1068bf;
}

.btn:not(:disabled):active {
  background-color: #1f75cb;
}

.tooltip {
  z-index: 100;
  transition: opacity 300ms;
  position: absolute;
  top: calc(100% + 12px);
  right: 50%;
  transform: translate(50%, 0);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  background-color: #000000;
  padding: 8px 12px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
}

.tooltip::before {
  content: "";
  position: absolute;
  right: calc(50% - 4px);
  top: -3px;
  height: 8px;
  width: 8px;
  border-radius: 2px;
  background-color: #000000;
  transform: rotate(45deg);
}

.navigation {
  display: flex;
}

.search {
  flex: 1;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.input {
  height: 100%;
  border-radius: 4px;
  width: 280px;
  height: 34px;
  padding: 6px 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid #89888d;
  font-size: 13px;
  color: #333238;
  line-height: 1.5;
  font-weight: 400;
}

.input:not(:disabled):focus {
  border-color: #89888d;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #428fdc;
  outline: none;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-right: 25px;
  text-overflow: ellipsis;
  width: 160px;
  height: 34px;
  padding: 6px 8px 6px 10px;
  background-color: #fff;
  color: #333238;
  font-size: 14px;
  text-align: left;
  border: 1px solid #dcdcde;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: border-color 100ms linear;
  text-transform: none;
}

.dropdown > span {
  flex: 1;
}

.dropdown:not(:disabled):focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #428fdc;
  outline: none;
  border-color: #bfbfc3;
}

.dropdown-list {
  position: absolute;
  list-style: none;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  min-height: 40px;
  max-height: 445px;
  overflow-y: auto;
  position: absolute;
  width: auto;
  top: 100%;
  right: 0;
  z-index: 300;
  min-width: 240px;
  max-width: 500px;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #dcdcde;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.dropdown-header {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  padding: 8px 12px;
}

.dropdown-item {
  background: #0000;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  font-weight: 400;
  position: relative;
  padding: 8px 12px;
  text-decoration: none;
  color: #333238;
  line-height: 16px;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.dropdown-item:not(.checked) {
  padding: 8px 37px;
}

.dropdown-item.checked {
  display: flex;
}

.dropdown-item.checked svg {
  margin-right: 10px;
}

.dropdown-item:not(:disabled):hover {
  background-color: #ececef;
  color: #333238;
  outline: 0;
  text-decoration: none;
}

.tabs-list {
  list-style: none;
  display: flex;
}

.tabs-item {
  color: #333238;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 100ms linear;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  height: 100%;
}

.tabs-item:not(:disabled).active {
  color: #000;
  font-weight: 600;
  box-shadow: inset 0 -2px 0 0 var(--gl-theme-accent, #6666c4);
}

.tabs-item:not(:disabled):not(.active):hover,
.tabs-item:not(:disabled):not(.active):focus {
  border: none;
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -2px 0 0 #bfbfc3;
}
